.nav {
    background-color: #F55A5A;
    width: 550px;
    height: 55px;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav__icon {
    width: 24px;
    height: 24px;
}

.nav__title {
    font-size: .9038rem;
}